.header-container {
    padding-top: 50px;
    background-color: #d62e2e;
    margin-bottom: 35px;
}
.header-row {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #EEE;
    padding-bottom: 20px;
    color: #EEE;
}
.header-icon {
    font-size: 52px;
    margin-right: 20px;
}
h1 {
    font-size: 52px;
}
.green-text {
    color: #21ba45;
}

@media (max-width: 495px) {
    .header-icon {
        font-size: 40px;
        margin-right: 15px;
    }
    h1 {
        font-size: 40px;
    }
    .header-container {
        padding-top: 40px;
        margin-bottom: 25px;
    }
}
