.header-container {
    padding-top: 50px;
    background-color: #d62e2e;
    margin-bottom: 35px;
    /* -webkit-box-shadow: 14px 15px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 15px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 14px 15px 14px 0px rgba(0,0,0,0.75); */
}
.header-row {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #EEE;
    padding-bottom: 20px;
    color: #EEE;
}
.header-icon {
    font-size: 52px;
    margin-right: 20px;
}
h1 {
    font-size: 52px;
}
.green-text {
    color: #21ba45;
}
