.timer-container {
    height: 250px;
    display: flex;
    align-items: center;
    background-color: #21ba453d;
    color: #21ba45;
}
.time-display-box {
    font-size: 92px;
    margin-left: auto;
    margin-right: auto;
}